/* ****************************************************** */
/* *****************  GENERAL SETTINGS  ***************** */
/* ****************************************************** */
* {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    margin: 0;
    padding: 0;
}
/* ****************************************************** */
/* ******************  BODY SETTINGS  ******************* */
/* ****************************************************** */
body {
    background: #000;
    font-family: "Montserrat", sans-serif;
    height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; 
    -webkit-box-orient: vertical; 
    -webkit-box-direction: normal; 
        -ms-flex-direction: column; 
            flex-direction: column;
    overflow: hidden;
    -webkit-animation: ani_2 1s 8s ease forwards;
            animation: ani_2 1s 8s ease forwards;
}
@-webkit-keyframes ani_2 {
    0% { overflow: hidden;}
    100% { overflow: visible;}
}
@keyframes ani_2 {
    0% { overflow: hidden;}
    100% { overflow: visible;}
}

/* ****************************************************** */
/* ****************************************************** */
/* ********************  PAGE STYLES  ******************* */
/* ****************************************************** */
/* ****************************************************** */

/* ****************************************************** */
/* ***************  INITIAL LOGO SETTINGS  ************** */
/* ****************************************************** */
.icon-wrapper {
    /* border: 5px solid blue; */
    width: 100vw;
    height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    position: absolute;
    z-index: 20;
    /* display: none; */
}
.marsan-icon {
    width: 80%;
    opacity: 0;
    -webkit-animation: ani_1 5s 1.5s ease forwards;
            animation: ani_1 5s 1.5s ease forwards;
}
@-webkit-keyframes ani_1 {
    0% { opacity: 0;}
    70% { opacity: 1;}
    100% { opacity: 0;}
}
@keyframes ani_1 {
    0% { opacity: 0;}
    70% { opacity: 1;}
    100% { opacity: 0;}
}

/* ****************************************************** */
/* ************  LEFT-TOP CORNER ICON  ************ */
/* ****************************************************** */
.logo-biker-wrapper {
    /* border: 1px solid brown; */
    position: relative;
    min-width: 250px;
    height: 60px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    z-index: 50;
    /* display: none; */
}
.top-biker-icon {
    /* position: absolute */
    width: 3em;
    margin-top: 3px;
    cursor: pointer;
    opacity: 0;
    -webkit-transition: scale 1s ease;
    -o-transition: scale 1s ease;
    transition: scale 1s ease;
    -webkit-animation: ani_3 3s 7s ease forwards;
            animation: ani_3 3s 7s ease forwards;
}
@-webkit-keyframes ani_3 {
    0% { opacity: 0;}
    100% { opacity: 1;}
}
@keyframes ani_3 {
    0% { opacity: 0;}
    100% { opacity: 1;}
}
.top-biker-icon:hover {
    scale: 1.2;
    -webkit-transition: scale 1s ease;
    -o-transition: scale 1s ease;
    transition: scale 1s ease;
}

/* ****************************************************** */
/* *******************  FIXED TOPBAR  ******************* */
/* ****************************************************** */
.fixed-topbar-wrapper {
    background-color: rgb(0, 0, 0);
    border-bottom: 1px solid #a0866c;
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
    margin-left: 100vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    position: fixed;
    z-index: 100;
    -webkit-box-flex: 0;
        -ms-flex: 0;
            flex: 0;
    -webkit-animation: ani_4 800ms 6s cubic-bezier(0.39, 0.575, 0.565, 1) forwards;
            animation: ani_4 800ms 6s cubic-bezier(0.39, 0.575, 0.565, 1) forwards;
    /* display: none; */
}
@-webkit-keyframes ani_4 {
    0% { margin-left: 100vw;}
    100% { margin-left: 0;}
}
@keyframes ani_4 {
    0% { margin-left: 100vw;}
    100% { margin-left: 0;}
}
#switch-topmenu-input,
#switch-topmenu-input_,
#switch-topmenu-input__ {
    display: none;
}
.top-wrapper,
.top-wrapper_,
.top-wrapper__ {
    /* border: 1px solid blue; */
    padding: 5px 8px 5px 8px;
    border-radius: 10px;
    position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    cursor: pointer;
    -webkit-transition: scale 500ms ease;
    -o-transition: scale 500ms ease;
    transition: scale 500ms ease;
    -webkit-animation: position 1s 6s forwards;
            animation: position 1s 6s forwards;
}
@-webkit-keyframes position {
    0% { position: absolute; }
    80% { position: static; position: initial;}
    100% { position: static; position: initial; }
}
@keyframes position {
    0% { position: absolute; }
    80% { position: static; position: initial;}
    100% { position: static; position: initial; }
}
.top-wrapper__ {
    /* outline: 1px solid red; */
    margin-right: 5px;
    padding: 0 0 0 10px;
}
.top-wrapper:hover,
.top-wrapper_:hover,
.top-wrapper__:hover {
    background-color: #524b46;
    scale: 1.2;
    -webkit-transition: scale 500ms ease;
    -o-transition: scale 500ms ease;
    transition: scale 500ms ease;
}
.top-wrapper__:hover {
    scale: none;
}
.top-title {
    font-size: 1rem;
    font-weight: 400;
    color: #fff;
    padding-right: 10px;
}
.top-title- {
    padding-right: 5px;
}
.top-icon {
    width: 1.3em;
}
.top-icon:hover {
    scale: 1.35;
    -webkit-transition: 400ms ease;
    -o-transition: 400ms ease;
    transition: 400ms ease;
}
.face-icon {
    width: 1.5em;
    margin: 2px 10px 0 16px;
}
.face-icon:hover {
    scale: 1.4;
    -webkit-transition: 400ms ease;
    -o-transition: 400ms ease;
    transition: 400ms ease;
}
.insta-icon {
    width: 2.7em;
    margin-right: 7px;
}
.insta-icon:hover {
    scale: 1.5;
    -webkit-transition: 400ms ease;
    -o-transition: 400ms ease;
    transition: 400ms ease;
}
.tik-icon {
    width: 1.3em;
    margin-right: 16px;
}
.tik-icon:hover {
    scale: 1.35;
    -webkit-transition: 400ms ease;
    -o-transition: 400ms ease;
    transition: 400ms ease;
}
.ytube-icon {
    width: 1.6em;
    margin-right: 9px;
}
.ytube-icon:hover {
    scale: 1.6;
    -webkit-transition: 400ms ease;
    -o-transition: 400ms ease;
    transition: 400ms ease;
}
.link3-icon {
    width: 2.4em;
}
.link3-icon:hover {
    scale: 1.5;
    -webkit-transition: 400ms ease;
    -o-transition: 400ms ease;
    transition: 400ms ease;
}

/* ****************************************************** */
/* ************  GALLERY SECTION (TOP MENU)  ************ */
/* ****************************************************** */
.gallery-content-wrapper,
.video-gallery-wrapper {
    /* border: 2px solid red; */
    position: absolute;
    background-color: black;
    /* width: calc(100% - 250px); */
    width: 100%;
    height: calc(100vh - 60px);
    top: 60px;
    margin-left: 2500px;
    z-index: 1;
    -webkit-transition: margin-left 1.2s cubic-bezier(0.175, 0.885, 0.32, 1);
    -o-transition: margin-left 1.2s cubic-bezier(0.175, 0.885, 0.32, 1);
    transition: margin-left 1.2s cubic-bezier(0.175, 0.885, 0.32, 1);
}
#switch-topmenu-input:checked ~ .gallery-content-wrapper,
#switch-topmenu-input_:checked ~ .video-gallery-wrapper {
    /* margin-left: calc(2500px - 2250px); */
    margin-left: 0;
    -webkit-transition: margin-left 1.4s cubic-bezier(0.68, -0.55, 0.265, 1);
    -o-transition: margin-left 1.4s cubic-bezier(0.68, -0.55, 0.265, 1);
    transition: margin-left 1.4s cubic-bezier(0.68, -0.55, 0.265, 1);
}
@-webkit-keyframes margin-left {
    0% { margin-left: 2500px;}
    100% { margin-left: 0;}
}
@keyframes margin-left {
    0% { margin-left: 2500px;}
    100% { margin-left: 0;}
}
#switch-topmenu-input:checked ~ .switch-topmenu-input .top-wrapper {
    background-color: #524b46;
    scale: 1.2;
    -webkit-transition: scale 500ms ease;
    -o-transition: scale 500ms ease;
    transition: scale 500ms ease;
}
#switch-topmenu-input_:checked ~ .switch-topmenu-input_ .top-wrapper_ {
    background-color: #524b46;
    scale: 1.2;
    -webkit-transition: scale 500ms ease;
    -o-transition: scale 500ms ease;
    transition: scale 500ms ease;
}
/* .splide {
    display: none;
}
#switch-topmenu-input:checked ~ .gallery-content-wrapper .splide {
    display: initial;
}
#switch-topmenu-input_:checked ~ .video-gallery-wrapper .splide {
    display: initial;
} */

/* ****************************************************** */
/* *************  CAROUSEL GALLERY SETTINGS  ************ */
/* ****************************************************** */
/* .splide {
    background-color: #a0866c;
    max-height: 60vh;
} */
/* Slideshow container */ 
.carousel-heading {
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 2.5vw;
    color: #fff;
    text-align: center;
}
.slideshow-container { 
    /* background-color: #F0A500; */
    /* width: 800px;  */
    position: relative; 
    margin: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
} 
/* Hide the images by default */ 
.mySlides,
.mySlides_ { 
    /* background-color: #064663; */
    display: none; 
} 
.slide-content {
    max-width: 95vw;
    max-height: 70vh;
    border-radius: 20px;
}
.arrows-wrapper {
    /* outline: 2px solid red; */
    position: absolute;
    width: 100%;
    min-height: 67px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    z-index: 5;
}
/* Next & previous buttons */ 
.prev, .next { 
    /* border: 1px solid red; */
    cursor: pointer; 
    width: auto; 
    padding: 16px; 
    color: white; 
    font-weight: bold; 
    font-size: 18px; 
    -webkit-transition: 0.6s ease; 
    -o-transition: 0.6s ease; 
    transition: 0.6s ease; 
    border-radius: 0 3px 3px 0; 
    -webkit-user-select: none; 
       -moz-user-select: none; 
        -ms-user-select: none; 
            user-select: none; 
} 
/* Position the "next button" to the left */ 
.prev { 
    /* border: 1px solid blue; */
    margin-right: 200px;
    border-radius: 15px 0 0 15px; 
} 
/* Position the "next button" to the right */ 
.next { 
      border-radius: 0 15px 15px 0; 
} 
/* On hover, add a black background color with a little bit see-through */ 
.prev:hover, .next:hover {
     background-color: rgb(148, 148, 148); 
} /* Caption text */ 
.text { 
    color: #f2f2f2; 
    font-size: 15px; 
    padding: 8px 12px; 
    position: absolute; 
    bottom: 8px; 
    width: 100%; 
    text-align: center; 
} 
/* Number text (1/3 etc) */ 
.numbertext { 
    background-color: rgba(0, 0, 0, .7);
    color: #f2f2f2; 
    font-size: 12px; 
    padding: 8px 12px; 
    position: absolute; 
    border-radius: 20px 0 0 0;
    top: 0; 
} 
/* The dots/bullets/indicators */ 
.dot,
.dot_ { 
    cursor: pointer; 
    height: 15px; 
    width: 15px; 
    margin: 0 2px; 
    background-color: rgb(187, 187, 187); 
    border-radius: 50%; 
    display: inline-block; 
    -webkit-transition: background-color 0.6s ease; 
    -o-transition: background-color 0.6s ease; 
    transition: background-color 0.6s ease; 
} 
.active, .dot:hover { 
    background-color: #ff0000; 
} 
iframe { 
    border: none; 
}
/* Fading animation */ 
.fade,
.fade_ { 
    -webkit-animation-name: fade; 
            animation-name: fade; -webkit-animation-duration: 1.5s; animation-duration: 1.5s; 
} 
@-webkit-keyframes fade { 
    from {opacity: .4} 
    to {opacity: 1} 
} 
@keyframes fade { 
    from {opacity: .4} 
    to {opacity: 1} 
}

/* ****************************************************** */
/* *****************  LEFT MENU SECTION  **************** */
/* ****************************************************** */
.left-menu-wrapper {
    /* border: 1px solid red; */
    /* background-color: #1c1a1a; */
    position: relative;
    height: calc(100vh - 60px);
    margin-top: 100vh;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    /* bottom: 0;
    left: 0; */
    z-index: 3;
    -webkit-animation: ani_5 800ms 6.2s cubic-bezier(0.39, 0.575, 0.565, 1) forwards;
            animation: ani_5 800ms 6.2s cubic-bezier(0.39, 0.575, 0.565, 1) forwards;
    /* display: none; */
}
@-webkit-keyframes ani_5 {
    /* 0% { top: 100vh;}
    100% {top: 60px;} */
    0% { margin-top: 100vh;}
    100% { margin-top: 0px; padding-top: 60px;}
}
@keyframes ani_5 {
    /* 0% { top: 100vh;}
    100% {top: 60px;} */
    0% { margin-top: 100vh;}
    100% { margin-top: 0px; padding-top: 60px;}
}
.block-wrapper {
    /* border: 1px solid blue; */
    background-color: #1c1b1a;
    border-bottom: 1px solid #44403d;
    width: 250px;
    height: calc((100vh - 60px)/3);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-transition: 500ms ease-in-out;
    -o-transition: 500ms ease-in-out;
    transition: 500ms ease-in-out;
    position: relative;
    z-index: 2;
    /* display: none; */
}
.block-wrapper:hover {
    background-color: #32302d;
    -webkit-transition: 300ms cubic-bezier(0.47, 0, 0.745, 0.715);
    -o-transition: 300ms cubic-bezier(0.47, 0, 0.745, 0.715);
    transition: 300ms cubic-bezier(0.47, 0, 0.745, 0.715);
}
#change1.clicked { 
   background-color: #6d0101; 
   border-bottom: 1px solid transparent;
   -webkit-transition: 500ms ease-in-out;
   -o-transition: 500ms ease-in-out;
   transition: 500ms ease-in-out;
}
#change1.clicked .block-leyend {
    display: none;
}
#change2.clicked { 
   background-color: #bf3502;
   border-bottom: 1px solid transparent;
   -webkit-transition: 500ms ease-in-out;
   -o-transition: 500ms ease-in-out;
   transition: 500ms ease-in-out;
}
#change2.clicked .block-leyend {
    display: none;
}
#change3.clicked { 
   background-color: #064663; 
   border-bottom: 1px solid transparent;
   -webkit-transition: 500ms ease-in-out;
   -o-transition: 500ms ease-in-out;
   transition: 500ms ease-in-out;
}
#change3.clicked .block-leyend {
    display: none;
}
.block-wrapper-hidden,
.block-wrapper-hidden_,
.block-wrapper-hidden__ {
    /* border: 2px solid blue; */
    background-color: #6d0101;
    border-radius: 0 5px 5px 0;
    height: calc((100vh - 60px)/3);
    width: calc(100vw - 250px);
    left: -1366px;
    right: 1366px;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 2fr 1fr;
    grid-template-columns: 1fr 2fr 1fr;
    position: absolute;
    z-index: 1;
    -webkit-transition: 1.2s cubic-bezier(0.175, 0.885, 0.32, 1);
    -o-transition: 1.2s cubic-bezier(0.175, 0.885, 0.32, 1);
    transition: 1.2s cubic-bezier(0.175, 0.885, 0.32, 1);
    /* display: none; */
}
.block-wrapper-hidden {
    top: 60px;
}
.block-wrapper-hidden_ {
    background-color: #bf3502;
    top: calc((100vh + 120px) / 3);
    /* top: calc(100% / 3); */
    /* display: none; */
}
.block-wrapper-hidden__ {
    background-color: #064663;
    bottom: -60px;
    /* display: none; */
}
#switch-menu-input:checked ~  .block-wrapper-hidden,
#switch-menu-input_:checked ~  .block-wrapper-hidden_, 
#switch-menu-input__:checked ~  .block-wrapper-hidden__ {
    right: 0;
    left: 250px;
}
#switch-menu-input,
#switch-menu-input_,
#switch-menu-input__ {
    display: none;
}
.block-leyend-wrapper {
    /* border: 1px solid white; */
    /* background-color: rgb(120, 7, 7); */
    min-width: 190px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}
.block-leyend-wrapper- {
    min-width: 290px;
}
.block-leyend-wrapper_ {
    /* background-color: rgb(69, 78, 86); */
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
}
/* .block-leyend-wrapper__ {
    border: 1px solid blue;
} */
.block-leyend {
    /* background-color: #ff0000; */
    font-size: 1.2rem;
    font-weight: 600;
    margin-bottom: 10px;
    text-align: center;
    color: #fff;
    cursor: pointer;
}
.block-leyend- {
    padding-top: 3px;
}
.block-leyend-mod {
    padding-top: 7px;
}
.block-leyend-- {
    cursor: auto;
    cursor: initial;
    margin-bottom: 0;
}
.middle-title {
    font-size: .94em;
    color: #fff;
}
.block-leyend-wrapper-li- {
    /* border: 1px solid rgb(255, 255, 255); */
    padding-right: 70px;
}
[dir="ltr"] .li {
    text-align: left;
}
[dir="rtl"] .li {
    text-align: right;
}
.li {
    padding-top: 10px;
    font-weight: 500;
    color: #fff;
}
.list { 
    list-style: none; /* Remove default bullets */ 
} 
.li .list::before { 
    /* content: "\2022";  Add content: \2022 is the CSS Code/unicode for a bullet */ 
    content: url(/icons/key.svg);
    font-size: 1.1em;
    line-height: 26px;
    padding-right: 7px;
    color: rgb(0, 0, 0); /* Change the color */ 
    font-weight: bolder; /* If you want it to be bold */ 
    display: inline-block; /* Needed to add space between the bullet and the text */ 
    width: .8em; /* Also needed for space (tweak if needed) */ 
    margin-left: -.8em; /* Also needed for space (tweak if needed) */ 
}
.servicios-image {
    /* background-color: #5e6b91; */
    max-width: 75%; 
    max-height: 75%;
    padding-top: 5px;
    display: block;
}
.inner-img {
    border-radius: 10px;
}
.biker-image {
    width: 9em;
    -webkit-transition: scale 600ms ease;
    -o-transition: scale 600ms ease;
    transition: scale 600ms ease;
    -webkit-animation-name: stretch;
            animation-name: stretch;
    -webkit-animation-duration: 500ms;
            animation-duration: 500ms;
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    -webkit-animation-direction: alternate;
            animation-direction: alternate;
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
    -webkit-animation-play-state: running;
            animation-play-state: running;
}
.servicios-image- {
    width: 9em;
    -webkit-transition: scale 600ms ease;
    -o-transition: scale 600ms ease;
    transition: scale 600ms ease;
}
.contact-image {
    width: 11.5em;
    -webkit-transition: scale 600ms ease;
    -o-transition: scale 600ms ease;
    transition: scale 600ms ease;
}
.biker-image:hover,
.servicios-image-:hover {
    scale: 1.2;
    -webkit-transition: scale 600ms ease;
    -o-transition: scale 600ms ease;
    transition: scale 600ms ease;
}
@-webkit-keyframes stretch {
        0% {
            -webkit-transform: scale(.95);
                    transform: scale(.95);
             /* background-color: green; */
            border-radius: 100%;
    }

        50% {
            /* background-color: orange; */
    }

        100% {
            -webkit-transform: scale(1.0);
                    transform: scale(1.0);
            /* background-color: red; */
    }
}
@keyframes stretch {
        0% {
            -webkit-transform: scale(.95);
                    transform: scale(.95);
             /* background-color: green; */
            border-radius: 100%;
    }

        50% {
            /* background-color: orange; */
    }

        100% {
            -webkit-transform: scale(1.0);
                    transform: scale(1.0);
            /* background-color: red; */
    }
}
.label-input {
    /* border: 3px solid red; */
    min-width: 100%;
    max-height: 100%;
}
.logo-leyend-wrapper {
    /* border: 2px solid white; */
    width: 100%;
    height: calc((100vh - 60px)/3);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    cursor: pointer;
}
.span-image {
    /* border: 2px solid blue; */
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}
.marsan {
    max-width: 85%; 
    max-height: 85%;
    padding-top: 5px;
    display: block;
}
.wapp {
    max-width: 50%; 
    max-height: 50%;
    padding-top: 5px;
    display: block;
}
.inner-icon-wrapper {
    /* border: 1px solid aqua; */
    text-align: center;
}
.contact-icon1 {
    width: 1.85em;
}
.contact-icon2 {
    width: 1.6em;
    padding-bottom: 5px;
}
/* .block-leyend-wrapper-mod {
    border: 2px solid white;
} */
.block-leyend-wrapper-mod_ {
    /* border: 4px solid rgb(255, 0, 0); */
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}
/* .block-leyend-wrapper-mod__ {
    border: 2px solid rgb(0, 0, 0);
} */
.block-leyend-wrapper-mod__ {
    /* border: 2px solid rgb(255, 255, 4); */
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
}
.block-leyend-wrapper-mod____ {
    outline: 2px dashed red;
    padding: 3px;
}
.middle-leyend {
    text-align: center;
}
.middle-leyend- {
    font-weight: 700;
}
.hide-logo-leyend2 {
    display: none;
}
/* ****************************************************** */
/* *************  MIDDLE CONTENT SETTINGS  ************** */
/* ****************************************************** */
.content-wrapper {
    /* border: 2px solid red; */
    /* background-color: #42032C; */
    width: calc(100% - 250px);
    height: calc(100vh - 60px);
    left: 250px; 
    top: 60px;
    opacity: 0;
    position: absolute;
    -webkit-animation: ani_7 5s 4s cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards;
            animation: ani_7 5s 4s cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards; 
    /* display: none; */
}
@-webkit-keyframes ani_7 {
    0% { opacity: 0;}
    65% { opacity: 0;}
    100% { opacity: 1;}
}
@keyframes ani_7 {
    0% { opacity: 0;}
    65% { opacity: 0;}
    100% { opacity: 1;}
}
p {
    color: #fff;
    text-align: justify;
}
.content-wrapper_,
.content-wrapper_::before {
    /* background-color: rgb(205, 57, 57); */
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.content-wrapper_::before {
    content: "";
    background-image: url(../assets/images/flamas.svg);
    background-size: contain;
    position: absolute;
    opacity: .5;
}
.content-img {
    min-width: 5em;
    max-width: 45em;
    z-index: 1;
}

/* ****************************************************** */
/* ****************  SCREEN MEDIA QUERYS  *************** */
/* ****************************************************** */
@media only screen
and (min-width : 0) 
and (max-width : 360px) {
    .icon-wrapper {
        top: -50px;
    }
    .hide-logo-leyend1 {
        display: none;
    }
    .hide-logo-leyend2 {
        display: inline;
        display: initial;
    }
    .logo-biker-wrapper {
        /* outline: 1px solid red; */
        min-width: 56px;
        padding: 0 3px 0 8px;
    }
    .top-biker-icon:hover {
        scale: none;
    }
    .top-wrapper,
    .top-wrapper_ {
        outline: 1px solid gray;
        margin-right: 7px;
        padding: 4px 6px 2px 5px;
    }  
    .top-wrapper__ {
        background-color: #524b46;
        margin-right: 10px;
    } 
    .top-wrapper:hover,
    .top-wrapper_:hover {
        background-color: transparent;
        scale: none;
    }
    .top-title {
        display: none;
        padding-right: 0;
    }
    .top-icon {
        width: 1.3em;
    }
    .top-icon:hover {
        scale: 1;
        -webkit-transition: 0ms;
        -o-transition: 0ms;
        transition: 0ms;
    }
    .face-icon {
        width: 1.5em;
        margin: 2px 0 0 0;
    }
    .face-icon:hover {
        scale: 1.1;
    }
    .insta-icon {
        width: 2.7em;
        margin-right: 0;
    }
    .insta-icon:hover {
        scale: 1.1;
    }
    .tik-icon {
        width: 1.3em;
        margin-right: 9px;
    }
    .tik-icon:hover {
        scale: 1.06;
    }
    .ytube-icon {
        width: 1.6em;
        margin-right: 0px;
    }
    .ytube-icon:hover {
        scale: 1.33;
    }
    .link3-icon {
        width: 2.4em;
    }
    .link3-icon:hover {
        scale: 1.1;
    }
    .carousel-heading {
        padding-top: 24px;
        font-size: 2.5vh;
    }
    .block-wrapper {
        width: 100px;
    }
    .block-leyend- {
        display: none;
    }
    .block-wrapper-hidden,
    .block-wrapper-hidden_,
    .block-wrapper-hidden__ {
        width: calc(100vw - 100px);
        -ms-grid-columns: 1fr 3fr;
        grid-template-columns: 1fr 3fr;
    }
    .block-leyend-wrapper {
        min-width: 90px;
        
    }
    .block-leyend-wrapper- {
        padding-right: 5px;
        min-width: 130px;
    }
    .block-leyend-wrapper-mod____ {
        outline: none;
        padding: none;
    }
    .blw-mod {
        /* border: 3px solid rgb(0, 0, 0); */
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-pack: space-evenly;
            -ms-flex-pack: space-evenly;
                justify-content: space-evenly;
    }
    [dir="ltr"] .li {
        text-align: left;
    }
    [dir="rtl"] .li {
        text-align: right;
    }
    .li {
        padding-top: 0;
        font-size: 3.3vw;
        line-height: 5px;
        font-weight: 400;
    }
    .li .list::before { 
        font-size: 3.7vw;
        line-height: 15px;
        padding-right: 5px;
        font-weight: bold; 
        width: .65em; 
        margin-left: -.6em;
    }
    .middle-title {
        font-size: 3.7vw;
    }
    .block-leyend {
        font-size: 3.4vw;
        font-weight: 600;
    }
    .middle-leyend {
        font-size: 3.3vw;
    }
    .middle-leyend- {
        font-weight: 500;
    }
    .blw-mobile {
        display: none;
    }
    .block-leyend-wrapper-mod {
        /* border: 2px solid red; */
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-pack: space-evenly;
            -ms-flex-pack: space-evenly;
                justify-content: space-evenly;
    }
    .contact-icon1 {
        width: 1.3em;
    }
    .contact-icon2 {
        /* border: 1px solid red; */
        padding-top: 10px;
        width: 1.1em;
        padding-bottom: 3px;
    }
        #switch-menu-input:checked ~ .block-wrapper-hidden,
        #switch-menu-input_:checked ~ .block-wrapper-hidden_, 
        #switch-menu-input__:checked ~ .block-wrapper-hidden__ {
            right: 0;
            left: 100px;
    }
    .content-wrapper {
            width: calc(100% - 100px);
            left: 100px;
            opacity: 0;
    }
    .slide-content {
            max-width: 98vw;
            max-height: 35vh;
    }
}
@media only screen
and (min-width : 361px) 
and (max-width : 630px) {
    .icon-wrapper {
        top: -30px;
    }
    .marsan-icon {
        width: 60%;
    }
    .hide-logo-leyend1 {
        display: none;
    }
    .hide-logo-leyend2 {
        display: inline;
        display: initial;
    }
    .logo-biker-wrapper {
        /* outline: 1px solid red; */
        min-width: 60px;
        padding: 0 3px 0 8px;
    }
    .top-biker-icon:hover {
        scale: none;
    }
    .top-wrapper,
    .top-wrapper_ {
        outline: 1px solid gray;
        margin-right: 7px;
        padding: 4px 6px 2px 5px;
    }  
    .top-wrapper__ {
        background-color: #524b46;
        margin-right: 10px;
    } 
    .top-wrapper:hover,
    .top-wrapper_:hover {
        background-color: transparent;
        scale: none;
    }
    .top-title {
        display: none;
    }
    .top-icon {
        width: 1.3em;
    }
    .top-icon:hover {
        scale: 1;
        -webkit-transition: 0ms;
        -o-transition: 0ms;
        transition: 0ms;
    }
    .face-icon {
        width: 1.5em;
        margin: 2px 0 0 0;
    }
    .face-icon:hover {
        scale: 1.1;
    }
    .insta-icon {
        width: 2.7em;
        margin-right: 0;
    }
    .insta-icon:hover {
        scale: 1.1;
    }
    .tik-icon {
        width: 1.3em;
        margin-right: 9px;
    }
    .tik-icon:hover {
        scale: 1.06;
    }
    .ytube-icon {
        width: 1.6em;
        margin-right: 0px;
    }
    .ytube-icon:hover {
        scale: 1.33;
    }
    .link3-icon {
        width: 2.4em;
    }
    .link3-icon:hover {
        scale: 1.1;
    }
    .carousel-heading {
        padding-top: 24px;
        font-size: 2.5vh;
    }
    .block-wrapper {
        width: 100px;
    }
    .block-leyend- {
        display: none;
    }
    .block-wrapper-hidden,
    .block-wrapper-hidden_,
    .block-wrapper-hidden__ {
        width: calc(100vw - 100px);
        -ms-grid-columns: 1fr 3fr;
        grid-template-columns: 1fr 3fr;
    }
    .block-leyend-wrapper {
        min-width: 100px;
    }
    .block-leyend-wrapper- {
        padding-right: 5px;
        min-width: 150px;
    }
    .block-leyend-wrapper-mod____ {
        outline: none;
        padding: none;
    }
    .blw-mod {
        /* border: 3px solid rgb(0, 0, 0); */
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-pack: space-evenly;
            -ms-flex-pack: space-evenly;
                justify-content: space-evenly;
    }
    [dir="ltr"] .li {
        text-align: left;
    }
    [dir="rtl"] .li {
        text-align: right;
    }
    .li {
        padding-top: 0;
        font-size: 3.3vw;
        line-height: 5px;
        font-weight: 400;
    }
    .li .list::before { 
        font-size: 3.5vw;
        line-height: 18px;
        padding-right: 5px;
        font-weight: bold; 
        width: .65em; 
        margin-left: -.65em;
    }
    .middle-title {
        font-size: 3.6vw;
    }
    .block-leyend {
        font-size: 3.6vw;
        font-weight: 600;
    }
    .middle-leyend {
        font-size: 3.3vw;
    }
    .middle-leyend- {
        font-weight: 500;
    }
    .blw-mobile {
        display: none;
    }
    .block-leyend-wrapper-mod {
        /* border: 2px solid red; */
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-pack: space-evenly;
            -ms-flex-pack: space-evenly;
                justify-content: space-evenly;
    }
    .contact-icon1 {
        width: 1.3em;
    }
    .contact-icon2 {
        /* border: 1px solid red; */
        padding-top: 10px;
        width: 1.1em;
        padding-bottom: 3px;
    }
    #switch-menu-input:checked ~ .block-wrapper-hidden,
    #switch-menu-input_:checked ~ .block-wrapper-hidden_, 
    #switch-menu-input__:checked ~ .block-wrapper-hidden__ {
        right: 0;
        left: 100px;
    }
    .content-wrapper {
        width: calc(100% - 100px);
        left: 100px;
        opacity: 0;
    }
    .slide-content {
        max-width: 98vw;
        max-height: 35vh;
    }
}
@media only screen
and (min-width : 631px) 
and (max-width : 1000px) {
    .icon-wrapper {
        top: -30px;
    }
    .marsan-icon {
        width: 60%;
    }
    .hide-logo-leyend1 {
        display: none;
    }
    .hide-logo-leyend2 {
        display: inline;
        display: initial;
    }
    .hide-text {
        display: none;
    }
    .logo-biker-wrapper {
        min-width: 125px;
    }
    .top-biker-icon:hover {
        scale: none;
    }
    .top-wrapper,
    .top-wrapper_ {
        outline: 1px solid gray;
        margin-right: 15px;
        padding: 7px 10px 5px 10px;
    }  
    .top-wrapper__ {
        background-color: #524b46;
        margin-right: 10px;
    } 
    .top-wrapper:hover,
    .top-wrapper_:hover {
        background-color: transparent;
        scale: none;
    }
    .top-icon {
        width: 1.3em;
    }
    .top-icon:hover {
        scale: 1;
        -webkit-transition: 0ms;
        -o-transition: 0ms;
        transition: 0ms;
    }
    .face-icon {
        width: 1.5em;
        margin: 2px 0 0 0;
    }
    .face-icon:hover {
        scale: 1.4;
        -webkit-transition: 400ms ease;
        -o-transition: 400ms ease;
        transition: 400ms ease;
    }
    .insta-icon {
        width: 2.7em;
        margin-right: 0;
    }
    .insta-icon:hover {
        scale: 1.5;
        -webkit-transition: 400ms ease;
        -o-transition: 400ms ease;
        transition: 400ms ease;
    }
    .tik-icon {
        width: 1.3em;
        margin-right: 9px;
    }
    .tik-icon:hover {
        scale: 1.35;
        -webkit-transition: 400ms ease;
        -o-transition: 400ms ease;
        transition: 400ms ease;
    }
    .ytube-icon {
        width: 1.6em;
        margin-right: 0px;
    }
    .ytube-icon:hover {
        scale: 1.6;
        -webkit-transition: 400ms ease;
        -o-transition: 400ms ease;
        transition: 400ms ease;
    }
    .link3-icon {
        width: 2.4em;
    }
    .link3-icon:hover {
        scale: 1.5;
        -webkit-transition: 400ms ease;
        -o-transition: 400ms ease;
        transition: 400ms ease;
    }
    .carousel-heading {
        padding-top: 20px;
        font-size: 3vw;
    }
    .block-wrapper {
        width: 125px;
        z-index: 2;
        /* display: none; */
    }
    .block-leyend- {
        display: none;
    }
    .block-wrapper-hidden,
    .block-wrapper-hidden_,
    .block-wrapper-hidden__ {
        width: calc(100vw - 125px);
        -ms-grid-columns: 1fr 3fr;
        grid-template-columns: 1fr 3fr;
    }
    .block-leyend-wrapper {
        min-width: 110px;
    }
    .block-leyend-wrapper- {
        min-width: 300px;
    }
    .blw-mod {
        -webkit-box-pack: space-evenly;
            -ms-flex-pack: space-evenly;
                justify-content: space-evenly;
    }
    [dir="ltr"] .li {
        text-align: left;
    }
    [dir="rtl"] .li {
        text-align: right;
    }
    .li {
        padding-top: 0;
        font-size: 3.7vh;
        line-height: 5px;
        font-weight: 400;
    }
    .li .list::before { 
        font-size: 3.7vh;
        line-height: 15px;
        padding-right: 5px;
        font-weight: bold; /* If you want it to be bold */ 
        width: .9em; /* Also needed for space (tweak if needed) */ 
        margin-left: -.9em; /* Also needed for space (tweak if needed) */ 
    }
    .middle-title {
        font-size: 4vh;
    }
    .block-leyend {
        font-size: 4vh;
        font-weight: 600;
    }
    .middle-leyend {
        font-size: 3.7vh;
    }
    .middle-leyend--- {
        padding-right: 5px;
    }
    .blw-mobile {
        display: none;
    }
    .block-leyend-wrapper-mod {
        /* border: 2px solid red; */
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-pack: space-evenly;
            -ms-flex-pack: space-evenly;
                justify-content: space-evenly;
    }
    .middle-leyend- {
        font-weight: 500;
    }
    .contact-icon1 {
        width: 1.3em;
    }
    .contact-icon2 {
        width: 1.1em;
        padding-bottom: 3px;
    }
    #switch-menu-input:checked ~ .block-wrapper-hidden,
    #switch-menu-input_:checked ~ .block-wrapper-hidden_, 
    #switch-menu-input__:checked ~ .block-wrapper-hidden__ {
        right: 0;
        left: 125px;
}
    .content-wrapper {
         /* border: 3px solid red; */
        width: calc(100% - 125px);
        left: 125px;
        opacity: 0;
    }
    .slide-content {
        max-width: 100vw;
        max-height: 55vh;
    }
}
@media only screen
and (min-width : 1001px) 
and (max-width : 1199px) {
    .top-biker-icon:hover {
        scale: none;
    }
    .top-wrapper:hover,
    .top-wrapper_:hover {
        background-color: transparent;
        scale: none;
    }
    .block-leyend-wrapper {
        min-width: 110px;
    }
    .block-leyend-wrapper- {
        min-width: 430px;
    }
    .block-leyend-wrapper-- {
        min-width: 90px;
    }
    .block-leyend-wrapper-mod {
        /* border: 2px solid red; */
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-pack: space-evenly;
            -ms-flex-pack: space-evenly;
                justify-content: space-evenly;
    }
    .biker-image {
        width: 6em;
    }
    .servicios-image- {
        width: 5.5em;
    }
    .contact-image {
        width: 6.5em;
    }
    .block-leyend {
        font-size: 1rem;
    }
    .middle-leyend {
        font-size: .85rem;
    }
    .middle-title {
        font-size: .85rem;
    }
    .li {
        font-size: .85rem;
    }
  }
@media only screen
and (min-width : 1200px) 
and (max-width : 4000px) {
    .block-leyend-wrapper- {
        min-width: 450px;
    }
    .block-leyend-wrapper-mod {
        /* border: 2px solid red; */
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-pack: space-evenly;
            -ms-flex-pack: space-evenly;
                justify-content: space-evenly;
    }
}

/* ****************************************************** */
/* ****************  SCREEN MQ FOR IPAD  **************** */
/* ****************************************************** */

/* ----------- iPad 1, 2, Mini and Air ----------- */ 

/* Portrait */  
@media only screen 
and (min-device-width: 768px) 
and (max-device-width: 1024px) 
and (orientation: portrait) 
and (-webkit-min-device-pixel-ratio: 1) { 
    .icon-wrapper {
        top: -30px;
    }
    .marsan-icon {
        width: 60%;
    }
    .hide-logo-leyend1 {
        display: none;
    }
    .hide-logo-leyend2 {
        display: inline;
        display: initial;
    }
    .hide-text {
        display: none;
    }
    .logo-biker-wrapper {
        /* outline: 1px solid red; */
        min-width: 60px;
        padding: 0 3px 0 8px;
    }
    .top-biker-icon:hover {
        scale: none;
    }
    .top-wrapper,
    .top-wrapper_ {
        outline: 1px solid gray;
        margin-right: 7px;
        padding: 4px 6px 2px 5px;
    }  
    .top-wrapper__ {
        background-color: #524b46;
        margin-right: 10px;
    } 
    .top-wrapper:hover,
    .top-wrapper_:hover {
        background-color: transparent;
        scale: none;
    }
    .top-icon {
        width: 1.3em;
    }
    .top-icon:hover {
        scale: 1;
        -webkit-transition: 0ms;
        -o-transition: 0ms;
        transition: 0ms;
    }
    .face-icon {
        width: 1.5em;
        margin: 2px 0 0 0;
    }
    .face-icon:hover {
        scale: 1.1;
    }
    .insta-icon {
        width: 2.7em;
        margin-right: 0;
    }
    .insta-icon:hover {
        scale: 1.1;
    }
    .tik-icon {
        width: 1.3em;
        margin-right: 9px;
    }
    .tik-icon:hover {
        scale: 1.06;
    }
    .ytube-icon {
        width: 1.6em;
        margin-right: 0px;
    }
    .ytube-icon:hover {
        scale: 1.33;
    }
    .link3-icon {
        width: 2.4em;
    }
    .link3-icon:hover {
        scale: 1.1;
    }
    .carousel-heading {
        padding-top: 24px;
        font-size: 2.5vh;
    }
    .block-wrapper {
        width: 100px;
    }
    .block-leyend- {
        display: none;
    }
    .block-wrapper-hidden,
    .block-wrapper-hidden_,
    .block-wrapper-hidden__ {
        width: calc(100vw - 100px);
        -ms-grid-columns: 1fr 3fr;
        grid-template-columns: 1fr 3fr;
    }
    .block-leyend-wrapper {
        min-width: 100px;
    }
    .block-leyend-wrapper- {
        padding-right: 5px;
        min-width: 150px;
    }
    .block-leyend-wrapper-mod____ {
        outline: none;
        padding: none;
    }
    .blw-mod {
        /* border: 3px solid rgb(0, 0, 0); */
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-pack: space-evenly;
            -ms-flex-pack: space-evenly;
                justify-content: space-evenly;
    }
    [dir="ltr"] .li {
        text-align: left;
    }
    [dir="rtl"] .li {
        text-align: right;
    }
    .li {
        font-size: 2.5vw;
        font-weight: 400;
    }
    .li .list::before { 
        font-size: 2.8vw;
        line-height: 28px;
        padding-right: 5px;
        font-weight: bold; 
        width: .7em; 
        margin-left: -.7em;
    }
    .middle-title {
        font-size: 2.9vw;
    }
    .block-leyend {
        font-size: 2.9vw;
        font-weight: 600;
    }
    .middle-leyend {
        font-size: 2.5vw;
    }
    .middle-leyend- {
        font-weight: 500;
    }
    .blw-mobile {
        display: none;
    }
    .block-leyend-wrapper-mod {
        /* border: 2px solid red; */
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-pack: space-evenly;
            -ms-flex-pack: space-evenly;
                justify-content: space-evenly;
    }
    .contact-icon1 {
        width: 1.5em;
    }
    .contact-icon2 {
        /* border: 1px solid red; */
        padding-top: 10px;
        width: 1.35em;
        padding-bottom: 3px;
    }
    #switch-menu-input:checked ~ .block-wrapper-hidden,
    #switch-menu-input_:checked ~ .block-wrapper-hidden_, 
    #switch-menu-input__:checked ~ .block-wrapper-hidden__ {
        right: 0;
        left: 100px;
    }
    .content-wrapper {
        width: calc(100% - 100px);
        left: 100px;
        opacity: 0;
    }
    .slide-content {
        max-width: 98vw;
        max-height: 35vh;
    }
} 
/* Portrait */ 
@media only screen 
and (min-device-width: 810px) 
and (max-device-width: 1080px) 
and (orientation: portrait) 
and (-webkit-min-device-pixel-ratio: 1) { 
    .icon-wrapper {
        top: -30px;
    }
    .marsan-icon {
        width: 60%;
    }
    .hide-logo-leyend1 {
        display: none;
    }
    .hide-logo-leyend2 {
        display: inline;
        display: initial;
    }
    .logo-biker-wrapper {
        /* outline: 1px solid red; */
        min-width: 60px;
        padding: 0 3px 0 8px;
    }
    .top-biker-icon:hover {
        scale: none;
    }
    .top-wrapper,
    .top-wrapper_ {
        outline: 1px solid gray;
        margin-right: 7px;
        padding: 4px 6px 2px 5px;
    }  
    .top-wrapper__ {
        background-color: #524b46;
        margin-right: 10px;
    } 
    .top-wrapper:hover,
    .top-wrapper_:hover {
        background-color: transparent;
        scale: none;
    }
    .top-icon {
        width: 1.3em;
    }
    .top-icon:hover {
        scale: 1;
        -webkit-transition: 0ms;
        -o-transition: 0ms;
        transition: 0ms;
    }
    .face-icon {
        width: 1.5em;
        margin: 2px 0 0 0;
    }
    .face-icon:hover {
        scale: 1.1;
    }
    .insta-icon {
        width: 2.7em;
        margin-right: 0;
    }
    .insta-icon:hover {
        scale: 1.1;
    }
    .tik-icon {
        width: 1.3em;
        margin-right: 9px;
    }
    .tik-icon:hover {
        scale: 1.06;
    }
    .ytube-icon {
        width: 1.6em;
        margin-right: 0px;
    }
    .ytube-icon:hover {
        scale: 1.33;
    }
    .link3-icon {
        width: 2.4em;
    }
    .link3-icon:hover {
        scale: 1.1;
    }
    .carousel-heading {
        padding-top: 24px;
        font-size: 2.5vh;
    }
    .block-wrapper {
        width: 100px;
    }
    .block-leyend- {
        display: none;
    }
    .block-wrapper-hidden,
    .block-wrapper-hidden_,
    .block-wrapper-hidden__ {
        width: calc(100vw - 100px);
        -ms-grid-columns: 1fr 3fr;
        grid-template-columns: 1fr 3fr;
    }
    .block-leyend-wrapper {
        min-width: 100px;
    }
    .block-leyend-wrapper- {
        padding-right: 5px;
        min-width: 150px;
    }
    .block-leyend-wrapper-mod____ {
        outline: none;
        padding: none;
    }
    .blw-mod {
        /* border: 3px solid rgb(0, 0, 0); */
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-pack: space-evenly;
            -ms-flex-pack: space-evenly;
                justify-content: space-evenly;
    }
    [dir="ltr"] .li {
        text-align: left;
    }
    [dir="rtl"] .li {
        text-align: right;
    }
    .li {
        font-size: 2.5vw;
        font-weight: 400;
    }
    .li .list::before { 
        font-size: 2.8vw;
        line-height: 30px;
        padding-right: 5px;
        font-weight: bold; 
        width: .7em; 
        margin-left: -.7em;
    }
    .middle-title {
        font-size: 2.9vw;
    }
    .block-leyend {
        font-size: 2.9vw;
        font-weight: 600;
    }
    .middle-leyend {
        font-size: 2.5vw;
    }
    .middle-leyend- {
        font-weight: 500;
    }
    .blw-mobile {
        display: none;
    }
    .block-leyend-wrapper-mod {
        /* border: 2px solid red; */
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-pack: space-evenly;
            -ms-flex-pack: space-evenly;
                justify-content: space-evenly;
    }
    .contact-icon1 {
        width: 1.6em;
    }
    .contact-icon2 {
        /* border: 1px solid red; */
        padding-top: 10px;
        width: 1.45em;
        padding-bottom: 3px;
    }
    #switch-menu-input:checked ~ .block-wrapper-hidden,
    #switch-menu-input_:checked ~ .block-wrapper-hidden_, 
    #switch-menu-input__:checked ~ .block-wrapper-hidden__ {
        right: 0;
        left: 100px;
    }
    .content-wrapper {
        width: calc(100% - 100px);
        left: 100px;
        opacity: 0;
    }
    .slide-content {
        max-width: 98vw;
        max-height: 35vh;
    }
} 

